<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FixBarDemo"
        tools:targetApi="31">
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.FakeBarActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <activity
            android:name=".ui.FakeBarActivity2"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <activity
            android:name=".ui.CoordinatorLayoutActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <activity
            android:name=".ui.DecorationActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <activity
            android:name=".ui.StickyActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <activity
            android:name=".ui.GroupActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FixBarDemo">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
    </application>

</manifest>